<!DOCTYPE html>
<html>
    <head>
        <title>workinonit</title>
        <style type="text/css">
        body {
        background-color: #fff;
        }

        div {
        width: 660px;
        margin: 0 auto;
        font-family: helvetia, arial, sans-serif;
        font-size: 1em;
        }

        #logo {
            border: 1px dotted #202020;
        }
        </style>
    </head>
    <body>
        <h1>
            <a id="logo" href="/"><img src="img/nham_logo.png" alt="nham"/></a>
        </h1>

        {{ content }}
    </body>
</html>
